<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CAD1CD01DF06C1C000B12C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAD1CE41DF06C1E000B12C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAD1CEF1DF06C1E000B12C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
